<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="item mobile-ham">
        <a class="hamburger"><i class="fa-solid fa-bars fa-lg"></i></a>
        <button style="margin-left: 15%;" class="btn"><i class="fa-solid fa-key"></i></button>
        <div class="item" id="mobile-search-icon"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></div> 
        <div class="navbar-item-m" id="mobile-search">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
        </div>
        <a class="title" href="/api/dashboard"><img src="/img/brand-logo.png" alt=""></a>
        
        <div class="navbar-item">
            <a class="item link" href="/">Home</a>
            <ul class="item genre-link">
                <li>
                    <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down"></i></a>
                    <div class="dropdown-genre">
                        <div class="arrow"></div>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                        <% movieGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                        <% tvGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                    </div>
                </li>
            </ul>   
            <a class="item link">Trending</a>
            <a class="item link">TV Shows</a>
            <a class="item link">Anime</a>
        </div>
        <div class="navbar-search-item">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
        <div class="navbar-item-mobile" id="ham">
            <div class="navbar-item-m">
                <a class="item link" href="/">Home</a>
                <ul class="item genre-link">
                    <li>
                        <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down" id="gen-mobile"></i></a>
                        <div class="dropdown-genre">
                            <div class="arrow"></div>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                            <% movieGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                            <% tvGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                        </div>
                    </li>
                </ul>   
                <a class="item link">Trending</a>
                <a class="item link">TV Shows</a>
                <a class="item link">Anime</a>
            </div>
        </div>
    </nav>

    <!-- dashboard -->
    <main>
        <div>
            <h1>Popular</h1>
            <div class="row hidden-scrollbar">
                <% popular.forEach(movie=> { %>
                    <div class="movie">
                        <a href="movie/<%= movie.id %>" id="<%= movie.id %>"><% if (movie.src) { %>
                            <img src="<%= movie.src %>" alt="<%= movie.title %>" />
                            <% } else { %>
                                <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                            <% } %>
                        </a>
                        <a href="movie/<%= movie.id %>" class="movie-title">
                            <%= movie.title %>
                        </a>
                    </div>
                    <% }) %>  
            </div>
        </div>

        <div>
            <h1>Movie to Watch</h1>
            <div class="row hidden-scrollbar">
                <% topRated.forEach(movie=> { %>
                    <div class="movie">
                        <a href="movie/<%= movie.id %>" id="<%= movie.id %>"><% if (movie.src) { %>
                            <img src="<%= movie.src %>" alt="<%= movie.title %>" />
                            <% } else { %>
                                <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                            <% } %>
                        </a>
                        <a href="movie/<%= movie.id %>" id="<%= movie.id %>" class="movie-title"><%= movie.title %></a>
                    </div>
                    <% }) %>
            </div>
        </div>
        <div>
            <h1>TV Shows</h1>
            <div class="row hidden-scrollbar">
                <% tvShows.forEach(movie=> { %>
                    <div class="movie">
                        <a href="tv/<%= movie.id %>" id="<%= movie.id %>"><% if (movie.src) { %>
                            <img src="<%= movie.src %>" alt="<%= movie.title %>" />
                            <% } else { %>
                                <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                            <% } %>
                        </a>
                        <a href="tv/<%= movie.id %>" id="<%= movie.id %>" class="movie-title">
                            <%= movie.title %>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>
    <script src="/js/navbar.js"></script>
</body>

</html>