<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs')  %>
    
    <!-- dashboard -->
    <main>
        <div>
            <h1>Popular</h1>
            <div class="row hidden-scrollbar">
                <% popular.forEach(movie=> { %>
                    <div class="movie">
                        <a href="movie/<%= movie.id %>" id="<%= movie.id %>">
                            <% if (movie.src) { %>
                                <img src="<%= movie.src %>" alt="<%= movie.title %>" />
                                <% } else { %>
                                    <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                                    <% } %>
                        </a>
                        <a href="movie/<%= movie.id %>" class="movie-title">
                            <%= movie.title %>
                        </a>
                        <a class="bucket-add" id="<%= movie.id %>"> <i class="fa-solid fa-circle-plus"></i></a>
                    </div>
                    <% }) %>
            </div>
        </div>

        <div>
            <h1>Movie to Watch</h1>
            <div class="row hidden-scrollbar">
                <% topRated.forEach(movie=> { %>
                    <div class="movie">
                        <a href="movie/<%= movie.id %>" id="<%= movie.id %>">
                            <% if (movie.src) { %>
                                <img src="<%= movie.src %>" alt="<%= movie.title %>" />
                                <% } else { %>
                                    <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                                    <% } %>
                        </a>
                        <a href="movie/<%= movie.id %>" id="<%= movie.id %>" class="movie-title">
                            <%= movie.title %>
                        </a>
                        <a class="bucket-add" id="<%= movie.id %>"><i class="fa-solid fa-circle-plus"></i></a>
                    </div>
                    <% }) %>
            </div>
        </div>
        <div>
            <h1>TV Shows</h1>
            <div class="row hidden-scrollbar">
                <% tvShows.forEach(movie=> { %>
                    <div class="movie">
                        <a href="tv/<%= movie.id %>" id="<%= movie.id %>">
                            <% if (movie.src) { %>
                                <img src="<%= movie.src %>" alt="<%= movie.title %>" />
                                <% } else { %>
                                    <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                                    <% } %>
                        </a>
                        <a href="tv/<%= movie.id %>" id="<%= movie.id %>" class="movie-title">
                            <%= movie.title %>
                        </a>
                        <a class="bucket-add" id="<%= movie.id %>" t><i class="fa-solid fa-circle-plus"></i></a>
                    </div>
                    <% }) %>
            </div>
        </div>
    </main>

    <div class="bucket-list" style="width:fit-content;">
        <div class="login-main">
            <div class="login-head">
                <!-- <h1 style="color:#3A4D39;text-shadow: none; text-align: center;">Bucket List</h1> -->
                <a id="close-list"><i class="fa-solid fa-xmark"></i></a>
            </div>
            
            <% if (user) { %>
                <div class="list-footer">
                    <div class="flex-horizontal-between">
                        <div class="bucket-head">Add Bucket</div>
                        <form method="POST" action="#" name="createBucket">
                            <input type="text" name="bucketName" id="bucketName" placeholder="Bucket Name...">
                            <button type="submit" class="btn-rev"><i class="fa-solid fa-plus"></i> New Bucket</button>
                        </form>
                    </div>
                </div>
                <hr class="three-dots">
            <% } %>
            <div class="list-body">
               
            </div>
        </div>
    </div>

    <!-- footer and login forms -->
    <%- include('./footer.ejs') %>
    
    <!-- //userid -->
    <span id="userId" hidden><%= JSON.stringify(user) %></span>
    <script src="/js/navbar.js"></script>
    <script src="/js/bucket.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>