<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs')  %>

    <!-- movie -->
    <main>
        <div class="search-row-header">
            <div>
                <h1 style="margin-top: 0;">Movies </h1>
                <h1 class="search-result"> for genre: <%= genre.name %>...</h1>
            </div>
        </div>
        <div class="search-row">
            <% if (results.results.length) { %>
                <% results.results.forEach((movie,index)=> { %>
                    <% if ( movie.poster_path) { %>
                        <div class="movie">
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>">
                            <% if (movie.poster_path) { %><img
                                    src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>"
                                    alt="<%= movie.title %>" />
                            <% } else { %><img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                            <% } %>
                        </a>
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>" class="movie-title">
                            <% if (movie.title) { %>
                                <%= movie.title %>
                            <% } else { %>
                                 <%= movie.name %>
                            <% } %>
                        </a>
                       
                        <% } %>
                        </div>
                    <% }) %>
                <% }  else { %>
                        <div class="movie-title"><h4>Nothing found...</h4></div>
                <% } %>
        </div>

        <!-- pagination -->
        <div class="pages">
            <% if (results.page===1) { %>
                <a class="btn disabled" disabled id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</a>
            <% } else { %>
                <a class="btn" id="prev" href="/api/genre/movie/<%= genre.id  %>/<%= results.page - 1 %>?name=<%= genre.name %>"><i class="fa-solid fa-arrow-left"></i> Prev</a>
            <% } %>
            <a class="page-info"><%= results.page %> / <%= results.total_pages %></a>
            <% if (results.page===results.total_pages) { %>
                <a class="btn disabled" disabled id="next"><i class="fa-solid fa-arrow-right"></i> Next</a>
            <% } else { %>
                <a class="btn" id="next" href="/api/genre/movie/<%= genre.id  %>/<%= results.page + 1 %>?name=<%= genre.name %>"><i class="fa-solid fa-arrow-right"></i> Next</a>
            <% } %>
        </div>
    </main>

    <!-- footer and login forms -->
    <%- include('./footer.ejs') %>

    <!-- external js files -->
    <script src="/js/navbar.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>