<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/movie.css">

    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="item mobile-ham">
        <a class="hamburger"><i class="fa-solid fa-bars fa-lg"></i></a>
        <button style="margin-left: 15%;" class="btn"><i class="fa-solid fa-key"></i></button>
        <div class="item" id="mobile-search-icon"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></div> 
        <div class="navbar-item-m" id="mobile-search">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
        </div>
        <a class="title" href="/api/dashboard"><img src="/img/brand-logo.png" alt=""></a>
        
        <div class="navbar-item">
            <a class="item link" href="/">Home</a>
            <ul class="item genre-link">
                <li>
                    <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down"></i></a>
                    <div class="dropdown-genre">
                        <div class="arrow"></div>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                        <% movieGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                        <% tvGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                    </div>
                </li>
            </ul>   
            <a class="item link">Trending</a>
            <a class="item link">TV Shows</a>
            <a class="item link">Anime</a>
        </div>
        <div class="navbar-search-item">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
            <% if (user) { %>
                <div class="item">
                    <div class="dropdown">
                        <button class="btn"><img src="/img/icons/ghost.png" class="icon" />
                            <%= user.name %>
                        </button>
                        <div class="dropdown-content">
                            <a href="">My Bucket</a>
                            <% if (user.admin) { %>
                                <a href="#" class="link">Statistics</a>
                                <a href="/api/upload/movieUpload" class="link">Movie Management</a>
                                <a href="#" class="link">Stream Management</a>
                            <% } %>
                            <a href="/api/auth/logout">Log Out</a>
                        </div>
                    </div>
                </div>
                <% } else { %>
                    <div class="navbar-last"> 
                        <a class="item link"  id="login">Log In</a>
                        <button class="btn" id="signup">Sign Up</button>
                    </div>
                <% } %>
        </div>
        <div class="navbar-item-mobile" id="ham">
            <div class="navbar-item-m">
                <a class="item link" href="/">Home</a>
                <ul class="item genre-link">
                    <li>
                        <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down" id="gen-mobile"></i></a>
                        <div class="dropdown-genre">
                            <div class="arrow"></div>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                            <% movieGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                            <% tvGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                        </div>
                    </li>
                </ul>   
                <a class="item link">Trending</a>
                <a class="item link">TV Shows</a>
                <a class="item link">Anime</a>
            </div>
        </div>
    </nav>


    <!-- movie -->
    <main>
        <div class="movie mobile-movie">
            <div class="object col-3" style="flex:1;">
            <iframe src="https://vidsrc.to/embed/movie/<%= movie.id %>"  allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
            <div class="side-video">
                <div class="extras">
                    <div class="extras-head">Movie</div>
                    <div class="youtube-ul">
                        <div class="youtube-li selected" data-site="vidsrc" data-url="https://vidsrc.to/embed/movie/<%= movie.id %>">1. VidSrc</div>
                        <% if (localURL) { %>
                        <div class="youtube-li" data-site="local" data-url="<%= localURL %>">2. Server</div>
                        <% } %>
                    </div>
                </div>
                <div class="extras ">
                    <div class="extras-head">More Videos</div>
                    <div class="youtube-ul video-list scrollbar">
                        <% var vds = []; %>
                        <% for (var i=0, len=videos.results.length; i<len; i++) { %>
                            <% vds.push( videos.results[i] )%>
                        <% } %>
                        <% if (vds) { %>
                            <% vds.forEach((video,index) => { %>
                                <% if (video.site === 'YouTube') { %>
                                <div class="youtube-li" style="display: flex;" data-site="youtube" data-url="https://www.youtube.com/embed/<%= video.key %>?enablejsapi=1">
                                    <div><%= index+1 %>.</div><div style="padding-left: 1.5%;"> <%= video.name %> <i class="fa-brands fa-youtube" style="color: #d00b29;"></i></div>
                                </div> 
                                <% } %>
                                <% if (video.site === 'Vimeo') { %>
                                    <div class="youtube-li" data-site="vimeo" data-url="https://player.vimeo.com/video/<%= video.key %>"><%= video.name %> <i class="fa-brands fa-vimeo" style="color: #195dd2;"></i></div> 
                                    <% } %>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="movie desktop">
            <div class="poster-div">
                <% if (movie.poster_path) { %>
                    <img src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="<%= movie.title %>"
                        class="poster" />
                    <% } else { %>
                        <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" class="poster" />
                        <% } %>
            </div>
            <div class="col">
                <h2 class="movie-title">
                    <%= movie.title %>
                </h2>
                <% if (movie.tagline) { %>
                    <p><em>"<%= movie.tagline %>"</em></p>
                    <% } %>
                        <span><strong>Genre: </strong>
                            <% movie.genres.forEach((genre,index)=> { %>
                                <% if (index!=movie.genres.length-1) { %>
                                    <a id="<%=genre.id%>">
                                        <%= genre.name %>,
                                    </a>
                                    <% } else { %>
                                        <a id="<%=genre.id%>">
                                            <%= genre.name %>
                                        </a>
                                    <% } %>
                            <% });%>
                        </span>
                        <span><strong>Released On: </strong>
                            <%= movie.release_date%>
                        </span>
                        <span><strong>Duration: </strong>
                            <%= movie.runtime %>mins
                        </span>
                        <span><strong>Languages: </strong>
                            <% movie.spoken_languages.forEach((language,index)=> { %>
                                <% if (index!=movie.spoken_languages.length-1) { %>
                                    <em>
                                        <%= language.english_name %>,
                                    </em>
                                    <% } else { %>
                                        <em>
                                            <%= language.english_name %>
                                        </em>
                                        <% } %>
                                            <% }) %>
                        </span>
                        <p><strong>Summary: </strong>
                            <%= movie.overview %>
                        </p>
            </div>
        </div>
        <div class="movie-mobile">
            <div class="row" style="padding-left: 5px;" style="height: 160px;">
                <div class="poster-div" >
                    <% if (movie.poster_path) { %>
                        <img src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="<%= movie.title %>"
                            class="poster" />
                        <% } else { %>
                            <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" class="poster"  />
                            <% } %>
                </div>
                <div style="padding-left:10px; padding-right: 10px; font-size: 0.8rem; line-height: 1.5;">
                    <h2 class="movie-title">
                        <%= movie.title %>
                    </h2>
                    <% if (movie.tagline) { %>
                        <p><em>"<%= movie.tagline %>"</em></p>
                        <% } %>
                            <span style="display: block;"><strong>Genre: </strong>
                                <% movie.genres.forEach((genre,index)=> { %>
                                    <% if (index!=movie.genres.length-1) { %>
                                        <a id="<%=genre.id%>">
                                            <%= genre.name %>,
                                        </a>
                                        <% } else { %>
                                            <a id="<%=genre.id%>">
                                                <%= genre.name %>
                                            </a>
                                        <% } %>
                                <% });%>
                            </span>
                            <span style="display: block;"><strong>Released On: </strong>
                                <%= movie.release_date%>
                            </span>
                            <span style="display: block;"><strong>Duration: </strong>
                                <%= movie.runtime %>mins
                            </span>
                            <span style="display: block;"><strong>Languages: </strong>
                                <% movie.spoken_languages.forEach((language,index)=> { %>
                                    <% if (index!=movie.spoken_languages.length-1) { %>
                                        <em>
                                            <%= language.english_name %>,
                                        </em>
                                        <% } else { %>
                                            <em>
                                                <%= language.english_name %>
                                            </em>
                                            <% } %>
                                                <% }) %>
                            </span>
                </div>
            </div>
            
            <div class="col" style="padding: 10px;text-align: justify;">
                        <p><strong>Summary: </strong>
                            <%= movie.overview %>
                        </p>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>
    <script src="/js/video-swap.js"></script>
    <script src="/js/navbar.js"></script>
</body>

</html>