<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/movie.css">

    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs')  %>

    <!-- movie -->
    <main>
        <div class="movie mobile-movie">
            <div class="object col-3" style="flex:1;">
            <iframe src="https://vidsrc.to/embed/movie/<%= movie.id %>"  allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
            <div class="side-video">
                <div class="extras">
                    <div class="extras-head">Movie</div>
                    <div class="youtube-ul">
                        <div class="youtube-li selected" data-site="vidsrc" data-url="https://vidsrc.to/embed/movie/<%= movie.id %>">1. VidSrc</div>
                        <% if (localURL) { %>
                        <div class="youtube-li" data-site="local" data-url="<%= localURL %>">2. Server</div>
                        <% } %>
                    </div>
                </div>
                <% if (videos.results.length){ %>
                    <div class="extras ">
                        <div class="extras-head">More Videos</div>
                        <div class="youtube-ul video-list scrollbar">
                            <% var vds = []; %>
                            <% for (var i=0, len=videos.results.length; i<len; i++) { %>
                                <% vds.push( videos.results[i] )%>
                            <% } %>
                            <% if (vds) { %>
                                <% vds.forEach((video,index) => { %>
                                    <% if (video.site === 'YouTube') { %>
                                    <div class="youtube-li" style="display: flex;" data-site="youtube" data-url="https://www.youtube.com/embed/<%= video.key %>?enablejsapi=1">
                                        <div><%= index+1 %>.</div><div style="padding-left: 1.5%;"> <%= video.name %> <i class="fa-brands fa-youtube" style="color: #d00b29;"></i></div>
                                    </div> 
                                    <% } %>
                                    <% if (video.site === 'Vimeo') { %>
                                        <div class="youtube-li" data-site="vimeo" data-url="https://player.vimeo.com/video/<%= video.key %>"><%= video.name %> <i class="fa-brands fa-vimeo" style="color: #195dd2;"></i></div> 
                                        <% } %>
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
            
        </div>
        <div class="movie desktop">
            <div class="poster-div" style="position: relative;">
                <% if (movie.poster_path) { %>
                    <img src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="<%= movie.title %>"
                        class="poster" />
                    <% } else { %>
                        <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" class="poster" />
                <% } %>
                <span>
                    <a class="bucket-add " id="<%= movie.id %>" data-name="<%= movie.title %>" data-poster="<%= movie.src %>" data-type="movie"> <i class="fa-solid fa-circle-plus"></i></a>
                </span>
            </div>
            <div class="col">
                <h2 class="movie-title">
                    <%= movie.title %>
                </h2>
                <% if (movie.tagline) { %>
                    <p><em>"<%= movie.tagline %>"</em></p>
                    <% } %>
                        <span><strong>Genre: </strong>
                            <% movie.genres.forEach((genre,index)=> { %>
                                <% if (index!=movie.genres.length-1) { %>
                                    <a id="<%=genre.id%>">
                                        <%= genre.name %>,
                                    </a>
                                    <% } else { %>
                                        <a id="<%=genre.id%>">
                                            <%= genre.name %>
                                        </a>
                                    <% } %>
                            <% });%>
                        </span>
                        <span><strong>Released On: </strong>
                            <%= movie.release_date%>
                        </span>
                        <span><strong>Duration: </strong>
                            <%= movie.runtime %>mins
                        </span>
                        <span><strong>Languages: </strong>
                            <% movie.spoken_languages.forEach((language,index)=> { %>
                                <% if (index!=movie.spoken_languages.length-1) { %>
                                    <em>
                                        <%= language.english_name %>,
                                    </em>
                                    <% } else { %>
                                        <em>
                                            <%= language.english_name %>
                                        </em>
                                        <% } %>
                                            <% }) %>
                        </span>
                        <% if (user && user.admin) { %>
                            <span>
                                <h3>
                                    <a href="/api/upload/movieUpload/<%= movie.id %>" class="btn-rev">Manage</a>
                                </h3>
                                
                            </span>
                        <% } %>
                       
                        <p><strong>Summary: </strong>
                            <%= movie.overview %>
                        </p>
            </div>
        </div>
        <div class="movie-mobile">
            <div class="row" style="padding-left: 5px;" style="height: 160px;">
                <div class="poster-div" style="position: relative;">
                    <% if (movie.poster_path) { %>
                        <img src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="<%= movie.title %>"
                            class="poster" />
                        <% } else { %>
                            <img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" class="poster"  />
                            <% } %>
                    <span>
                        <a class="bucket-add" id="<%= movie.id %>" data-name="<%= movie.title %>" data-poster="<%= movie.src %>" data-type="movie"> <i class="fa-solid fa-circle-plus"></i></a>
                    </span>
                </div>
                <div style="padding-left:10px; padding-right: 10px; font-size: 0.8rem; line-height: 1.5;">
                    <h2 class="movie-title">
                        <%= movie.title %>
                    </h2>
                    <% if (movie.tagline) { %>
                        <p><em>"<%= movie.tagline %>"</em></p>
                        <% } %>
                            <span style="display: block;"><strong>Genre: </strong>
                                <% movie.genres.forEach((genre,index)=> { %>
                                    <% if (index!=movie.genres.length-1) { %>
                                        <a id="<%=genre.id%>">
                                            <%= genre.name %>,
                                        </a>
                                        <% } else { %>
                                            <a id="<%=genre.id%>">
                                                <%= genre.name %>
                                            </a>
                                        <% } %>
                                <% });%>
                            </span>
                            <span style="display: block;"><strong>Released On: </strong>
                                <%= movie.release_date%>
                            </span>
                            <span style="display: block;"><strong>Duration: </strong>
                                <%= movie.runtime %>mins
                            </span>
                            <span style="display: block;"><strong>Languages: </strong>
                                <% movie.spoken_languages.forEach((language,index)=> { %>
                                    <% if (index!=movie.spoken_languages.length-1) { %>
                                        <em>
                                            <%= language.english_name %>,
                                        </em>
                                        <% } else { %>
                                            <em>
                                                <%= language.english_name %>
                                            </em>
                                            <% } %>
                                                <% }) %>
                            </span>
                            <% if (user && user.admin) { %>
                            <h3>
                                <a href="/api/upload/movieUpload/<%= movie.id %>" class="btn-rev">Manage</a>
                            </h3>
                            <% } %>
                </div>
            </div>
            
            <div class="col" style="padding: 10px;text-align: justify;">
                        <p><strong>Summary: </strong>
                            <%= movie.overview %>
                        </p>
            </div>
        </div>
    </main>
    <div class="bucket-list" style="width:fit-content;">
        <div class="login-main">
            <div class="login-head">
                <!-- <h1 style="color:#3A4D39;text-shadow: none; text-align: center;">Bucket List</h1> -->
                <a id="close-list"><i class="fa-solid fa-xmark"></i></a>
            </div>
            
            <% if (user) { %>
                <div class="list-footer">
                    <div class="flex-horizontal-between">
                        <div class="bucket-head">Add Bucket</div>
                        <form method="POST" action="#" name="createBucket">
                            <input type="text" name="bucketName" id="bucketName" placeholder="Bucket Name...">
                            <button type="submit" class="btn-rev"><i class="fa-solid fa-plus"></i> New Bucket</button>
                            <div class="err createBucket"></div>
                        </form>
                    </div>
                </div>
                <hr class="three-dots">
            <% } %>
            <div class="list-body">
               
            </div>
        </div>
    </div>
    <!-- footer and login forms -->
    <%- include('./footer.ejs') %>

    
    
    <!-- //userid -->
    <span id="userId" hidden><%= JSON.stringify(user) %></span>

    <script src="/js/video-swap.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/bucket.js"></script>
    <script src="/js/auth.js"></script>
    <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
</body>

</html>