<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="item mobile-ham">
        <a class="hamburger"><i class="fa-solid fa-bars fa-lg"></i></a>
        <button style="margin-left: 15%;" class="btn"><i class="fa-solid fa-key"></i></button>
        <div class="item" id="mobile-search-icon"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></div> 
        <div class="navbar-item-m" id="mobile-search">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
        </div>
        <a class="title" href="/api/dashboard"><img src="/img/brand-logo.png" alt=""></a>
        
        <div class="navbar-item">
            <a class="item link" href="/">Home</a>
            <ul class="item genre-link">
                <li>
                    <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down"></i></a>
                    <div class="dropdown-genre">
                        <div class="arrow"></div>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                        <% movieGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                        <% tvGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                    </div>
                </li>
            </ul>   
            <a class="item link">Trending</a>
            <a class="item link">TV Shows</a>
            <a class="item link">Anime</a>
        </div>
        <div class="navbar-search-item">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
            <% if (user) { %>
                <div class="item">
                    <div class="dropdown">
                        <button class="btn"><img src="/img/icons/ghost.png" class="icon" />
                            <%= user.name %>
                        </button>
                        <div class="dropdown-content">
                            <a href="">My Bucket</a>
                            <% if (user.admin) { %>
                                <a href="#" class="link">Statistics</a>
                                <a href="/api/upload/movieUpload" class="link">Movie Management</a>
                                <a href="#" class="link">Stream Management</a>
                            <% } %>
                            <a href="/api/auth/logout">Log Out</a>
                        </div>
                    </div>
                </div>
                <% } else { %>
                    <div class="navbar-last"> 
                        <a class="item link"  id="login">Log In</a>
                        <button class="btn" id="signup">Sign Up</button>
                    </div>
                <% } %>
        </div>
        <div class="navbar-item-mobile" id="ham">
            <div class="navbar-item-m">
                <a class="item link" href="/">Home</a>
                <ul class="item genre-link">
                    <li>
                        <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down" id="gen-mobile"></i></a>
                        <div class="dropdown-genre">
                            <div class="arrow"></div>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                            <% movieGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                            <% tvGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                        </div>
                    </li>
                </ul>   
                <a class="item link">Trending</a>
                <a class="item link">TV Shows</a>
                <a class="item link">Anime</a>
            </div>
        </div>
    </nav>


    <!-- movie -->
    <main>
        <div class="search-row-header">
            <div>
                <h1 style="margin-top: 0;">Movies </h1>
                <h1 class="search-result"> for genre: <%= genre.name %>...</h1>
            </div>
        </div>
        <div class="search-row">
            <% if (results.results.length) { %>
                <% results.results.forEach((movie,index)=> { %>
                    <% if ( movie.poster_path) { %>
                        <div class="movie">
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>">
                            <% if (movie.poster_path) { %><img
                                    src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>"
                                    alt="<%= movie.title %>" />
                            <% } else { %><img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                            <% } %>
                        </a>
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>" class="movie-title">
                            <% if (movie.title) { %>
                                <%= movie.title %>
                            <% } else { %>
                                 <%= movie.name %>
                            <% } %>
                        </a>
                       
                        <% } %>
                        </div>
                    <% }) %>
                <% }  else { %>
                        <div class="movie-title"><h4>Nothing found...</h4></div>
                <% } %>
        </div>

        <!-- pagination -->
        <div class="pages">
            <% if (results.page===1) { %>
                <button class="btn disabled" disabled id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } else { %>
                <button class="btn" id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } %>
            <a class="page-info"><%= results.page %> / <%= results.total_pages %></a>
            <% if (results.page===results.total_pages) { %>
                <button class="btn disabled" disabled id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } else { %>
                <button class="btn" id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } %>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>

    <!-- exporting ejs model values for external js files -->

    <!-- search query -->
    <span id="genre" hidden>
        <%= JSON.stringify(genre) %>
    </span>

    <!-- genres -->
    <% if (tvGenre) { %>
    <span id="tv-genre" hidden>
        <%= JSON.stringify(tvGenre) %>
    </span>
    <% } %>
    <% if (movieGenre) { %>
        <span id="movie-genre" hidden><%= JSON.stringify(movieGenre) %></span>
    <% } %>
    <!-- pages -->
    <span id="page-num" hidden>
        <%= JSON.stringify(results.page) %>
    </span>
    <span id="lastpage" hidden>
        <%= JSON.stringify(results.total_pages) %>
    </span>

    <!-- external js files
    <script src="/js/pagination.js"></script> -->
    <script src="/js/navbar.js"></script>
</body>

</html>