<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bucket.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs')  %>

    <!-- Bucket -->
    <main>
        <div class="flex-horizontal-between">
            <h1>Add Bucket</h1>
            <form method="POST" action="/api/bucket/createBucket">
                <input type="text" name="bucketName" placeholder="Bucket Name...">
                <button type="submit" class="btn"><i class="fa-solid fa-plus"></i> New Bucket</button>
            </form>
        </div>
        <h1>My Buckets</h1>
        <div class="mybucket">
            <% bucket.forEach(bucket=> { %>
                <div class="lazy-loading" id="<%= bucket._id %>" class="bucket">
                    <div class="bucket-head">
                        <h2>
                            <%= bucket.bucketName %>
                        </h2>
                        <span>
                            <%= bucket.itemCount %>
                        </span>
                    </div>
                    <div class="bucket-body"></div>
                </div>
                <% }) %>
        </div>

    </main>

    <!-- footer and login forms -->
    <%- include('./footer.ejs') %>

    <script src="/js/navbar.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>