<nav class="navbar">
    <div class="item mobile-ham">
        <a class="hamburger"><i class="fa-solid fa-bars fa-lg"></i></a>
        <a style="margin-left: 15%;" class="login-btn-mob">
            <% if (user) { %>
                <i class="fa-solid fa-user-tie"></i>
            <% } else { %>
                <i class="fa-solid fa-key"></i>
            <% } %>
            </a>
        <div class="item" id="mobile-search-icon"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></div>
        <div class="navbar-item-m" id="mobile-search">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
    </div>
    <a class="title" href="/api/dashboard"><img src="/img/brand-logo.png" alt=""></a>

    <div class="navbar-item">
        <a class="item link" href="/">Home</a>
        <ul class="item genre-link">
            <li>
                <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down"></i></a>
                <div class="dropdown-genre">
                    <div class="arrow"></div>
                    <ul class="genre-item">
                        <li>
                            <p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p>
                        </li>
                        <% movieGenre.genres.forEach(gen=> { %>
                            <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item">
                                    <%= gen.name %>
                                </a></li>
                            <% }) %>
                    </ul>
                    <ul class="genre-item">
                        <li>
                            <p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p>
                        </li>
                        <% tvGenre.genres.forEach(gen=> { %>
                            <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item">
                                    <%= gen.name %>
                                </a></li>
                            <% }) %>
                    </ul>
                </div>
            </li>
        </ul>
        <a class="item link" href="/api/trending">Trending</a>
        <a class="item link" href="/api/tvshows">TV Shows</a>
    </div>
    <div class="navbar-item navbar-search-item">
        <form class="search" action="/api/search">
            <input class="search-item" type="text" name="query" placeholder="Search Here..."><input
                class="search-item fa-solid" type="submit" value="&#xf002">
        </form>
        <% if (user) { %>
            <div class="item">
                <div class="dropdown">
                    <button class="btn"><img src="/img/icons/ghost.png" class="icon" />
                        <%= user.name %>
                    </button>
                    <div class="dropdown-content">
                        <a href="/api/bucket/myBucket">My Bucket</a>
                        <% if (user.admin) { %>
                            <!-- <a href="#" class="link">Statistics</a> -->
                            <a href="/api/upload/movieUpload" class="link">Movie Management</a>
                            <!-- <a href="#" class="link">Stream Management</a> -->
                            <% } %>
                                <a href="/api/auth/logout">Log Out</a>
                    </div>
                </div>
            </div>
            <% } else { %>
                <div class="item">
                    <a class="item link" id="login">Log In</a>
                    <button class="btn" id="signup">Sign Up</button>
                </div>
                <% } %>
    </div>
    <div class="navbar-item-mobile" id="ham">
        <div class="navbar-item-m">
            <a class="item link" href="/">Home</a>
            <ul class="item genre-link">
                <li>
                    <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down"
                            id="gen-mobile"></i></a>
                    <div class="dropdown-genre">
                        <div class="arrow"></div>
                        <ul class="genre-item">
                            <li>
                                <p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p>
                            </li>
                            <% movieGenre.genres.forEach(gen=> { %>
                                <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item">
                                        <%= gen.name %>
                                    </a></li>
                                <% }) %>
                        </ul>
                        <ul class="genre-item">
                            <li>
                                <p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p>
                            </li>
                            <% tvGenre.genres.forEach(gen=> { %>
                                <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item">
                                        <%= gen.name %>
                                    </a></li>
                                <% }) %>
                        </ul>
                    </div>
                </li>
            </ul>
            <a class="item link" href="/api/trending">Trending</a>
            <a class="item link">TV Shows</a>
        </div>
    </div>
</nav>