<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="item mobile-ham">
        <a class="hamburger"><i class="fa-solid fa-bars fa-lg"></i></a>
        <button style="margin-left: 15%;" class="btn"><i class="fa-solid fa-key"></i></button>
        <div class="item" id="mobile-search-icon"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></div> 
        <div class="navbar-item-m" id="mobile-search">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
        </div>
        <a class="title" href="/api/dashboard"><img src="/img/brand-logo.png" alt=""></a>
        
        <div class="navbar-item">
            <a class="item link" href="/">Home</a>
            <ul class="item genre-link">
                <li>
                    <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down"></i></a>
                    <div class="dropdown-genre">
                        <div class="arrow"></div>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                        <% movieGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                        <ul class="genre-item">
                            <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                        <% tvGenre.genres.forEach(gen => { %>
                            <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                        <% }) %>
                        </ul>
                    </div>
                </li>
            </ul>   
            <a class="item link" href="/api/trending">Trending</a>
            <a class="item link" href="/api/tvShows">TV Shows</a>
        </div>
        <div class="navbar-item navbar-search-item">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
            <% if (user) { %>
                <div class="item">
                    <div class="dropdown">
                        <button class="btn"><img src="/img/icons/ghost.png" class="icon" />
                            <%= user.name %>
                        </button>
                        <div class="dropdown-content">
                            <a href="">My Bucket</a>
                            <% if (user.admin) { %>
                                <a href="#" class="link">Statistics</a>
                                <a href="/api/upload/movieUpload" class="link">Movie Management</a>
                                <a href="#" class="link">Stream Management</a>
                            <% } %>
                            <a href="/api/auth/logout">Log Out</a>
                        </div>
                    </div>
                </div>
                <% } else { %>
                    <div class="item"> 
                        <a class="item link"  id="login">Log In</a>
                        <button class="btn" id="signup">Sign Up</button>
                    </div>
                <% } %>
        </div>
        <div class="navbar-item-mobile" id="ham">
            <div class="navbar-item-m">
                <a class="item link" href="/">Home</a>
                <ul class="item genre-link">
                    <li>
                        <a href="#" class="item" style="margin: 0;">Genre <i class="fa-solid fa-xs fa-caret-down" id="gen-mobile"></i></a>
                        <div class="dropdown-genre">
                            <div class="arrow"></div>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size:1.2rem;">Movie</p></li>
                            <% movieGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/movie/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                            <ul class="genre-item">
                                <li><p class="h1" style="margin: auto 0.6rem; font-size: 1.2rem;">TV</p></li>
                            <% tvGenre.genres.forEach(gen => { %>
                                <li><a href="/api/genre/tv/<%= gen.id %>?name=<%= gen.name %>" class="item"><%= gen.name %></a></li>
                            <% }) %>
                            </ul>
                        </div>
                    </li>
                </ul>   
                <a class="item link" href="/api/trending">Trending</a>
                <a class="item link" href="/api/tvShows">TV Shows</a>
            </div>
        </div>
    </nav>

    <div class="side-nav">
        <div class="side-item open-side">
            <div class="right" style="width: 100%;">
                <i class="fa-solid fa-angles-right"></i>
            </div>
            <div class="left" style="width: 100%;">
                <i class="fa-solid fa-angles-left"></i>
            </div>
        </div>
        <div class="side-item option selected" data-key="movie"> 
            <div class="side-icon">
                <i class="fa-solid fa-clapperboard"></i>
            </div>
            <div class="side-full">
                Movie
            </div>
        </div>
        <div class="side-item option" data-key="tv">
            <div class="side-icon">
                <i class="fa-solid fa-tv"></i>
            </div>
            <div class="side-full">
                TV
            </div>
        </div>
    </div>

    <!-- movie -->
    <main class="trending" id="trending-movie">
        <div class="search-row-header">
            <div>
                <h1 style="margin-top: 0;">Trending Movies</h1>
            </div>
        </div>
        <div class="search-row">
            <% if (movie.results.length) { %>
                <% movie.results.forEach((movie,index)=> { %>
                        <div class="movie">
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>">
                            <% if (movie.poster_path) { %><img
                                    src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>"
                                    alt="<%= movie.title %>" />
                            <% } else { %><img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                            <% } %>
                        </a>
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>" class="movie-title">
                            <% if (movie.title) { %>
                                <%= movie.title %>
                            <% } else { %>
                                 <%= movie.name %>
                            <% } %>
                        </a>
                        </div>
                <% }) %>
            <% } else { %>
                <div class="movie-title"><h4>Nothing found...</h4></div>
            <% } %>
        </div>

        <!-- pagination -->
        <div class="pages">
            <% if (movie.page===1) { %>
                <button class="btn disabled" disabled id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } else { %>
                <button class="btn" id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } %>
            <a class="page-info"><%= movie.page %> / <%= movie.total_pages %></a>
            <% if (movie.page===movie.total_pages) { %>
                <button class="btn disabled" disabled id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } else { %>
                <button class="btn" id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } %>
        </div>
    </main>
    
    <!-- tv -->
    <main class="trending hidden" id="trending-tv">
        <div class="search-row-header">
            <div>
                <h1 style="margin-top: 0;">Trending TV Shows</h1>
            </div>
        </div>
        <div class="search-row" id="trending-tv">
            <% if (tv.results.length) { %>
                <% tv.results.forEach((tv,index)=> { %>
                        <div class="movie hidden">
                        <a href="/api/tv/<%= tv.id %>" id="<%= tv.id %>">
                            <% if (tv.poster_path) { %><img
                                    src="http://image.tmdb.org/t/p/w300<%= tv.poster_path %>"
                                    alt="<%= movie.title %>" />
                            <% } else { %><img src="/img/pos_thumbnail.png" alt="<%= tv.name %>" />
                            <% } %>
                        </a>
                        <a href="/api/tv/<%= tv.id %>" id="<%= tv.id %>" class="movie-title"><%= tv.name %></a>
                        </div>
                <% }) %>
            <% } else { %>
                <div class="movie-title"><h4>Nothing found...</h4></div>
            <% } %>
        </div>

        <!-- pagination -->
        <div class="pages">
            <% if (tv.page===1) { %>
                <button class="btn disabled" disabled id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } else { %>
                <button class="btn" id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } %>
            <a class="page-info"><%= tv.page %> / <%= tv.total_pages %></a>
            <% if (tv.page===tv.total_pages) { %>
                <button class="btn disabled" disabled id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } else { %>
                <button class="btn" id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } %>
        </div>
    </main>
    

    
    <div class="login-form" id="" style="width:fit-content;">
        <div class="login-main">
            <div class="login-main-head">
                <h1 style="color:#3A4D39;text-shadow: none;text-align: center;">Login</h1>
                <a id="close"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <form class="login-main-form" name="login-main-form">
                <div class="row-form">
                    <div class="col-25">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-75">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="row-form">
                    <div class="err email-err"></div>
                </div>
                <div class="row-form">
                    <div class="col-25">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-75">
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="row-form">
                    <div class="err pass-err"></div>
                </div>
                <div style="text-align: center; margin:5% 0 0">
                    <button class="btn-rev" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="signup-form" id="" style="width:fit-content;">
        <div class="signup-main">
            <div class="signup-main-head">
                <h1 style="color:#3A4D39;text-shadow: none; text-align: center;">Register Here</h1>
                <a id="close-signup"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <form class="signup-main-form" name="signup-main-form">
                <div class="row-form">
                    <div class="col-25">
                        <label for="">First Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="first">
                    </div>
                </div>
                <div class="row-form">
                    <div class="err username-err"></div>
                </div>
                <div class="row-form">
                    <div class="col-25">
                        <label for="">Last Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="last">
                    </div>
                </div>
                <div class="row-form">
                    <div class="err username-err"></div>
                </div>
                <div class="row-form">
                    <div class="col-25">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-75">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="row-form">
                    <div class="err email-err"></div>
                </div>
                <div class="row-form">
                    <div class="col-25">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-75">
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="row-form">
                    <div class="err pass-err"></div>
                </div>
                <div style="text-align: center; margin:5% 0 0">
                    <button class="btn-rev" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
    <div class="shadow"></div>
    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>

    <!-- exporting ejs model values for external js files -->

    <!-- pages -->
    <span id="page-num" hidden>
        <%= JSON.stringify(movie.page) %>
    </span>
    <span id="lastpage" hidden>
        <%= JSON.stringify(movie.total_pages) %>
    </span>

    <!-- external js files -->
    <!-- <script src="/js/pagination.js"></script> -->
    <script src="/js/side-navbar.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>