<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Section</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs')  %>

    <div class="side-nav">
        <div class="side-item open-side">
            <div class="right" style="width: 100%;">
                <i class="fa-solid fa-angles-right"></i>
            </div>
            <div class="left" style="width: 100%;">
                <i class="fa-solid fa-angles-left"></i>
            </div>
        </div>
        <div class="side-item option selected" data-key="movie"> 
            <div class="side-icon">
                <i class="fa-solid fa-clapperboard"></i>
            </div>
            <div class="side-full">
                Movie
            </div>
        </div>
        <div class="side-item option" data-key="tv">
            <div class="side-icon">
                <i class="fa-solid fa-tv"></i>
            </div>
            <div class="side-full">
                TV
            </div>
        </div>
    </div>

    <!-- movie -->
    <main class="trending" id="trending-movie">
        <div class="search-row-header">
            <div>
                <h1 style="margin-top: 0;">Trending Movies</h1>
            </div>
        </div>
        <div class="search-row">
            <% if (movie.results.length) { %>
                <% movie.results.forEach((movie,index)=> { %>
                        <div class="movie">
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>">
                            <% if (movie.poster_path) { %><img
                                    src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>"
                                    alt="<%= movie.title %>" />
                            <% } else { %><img src="/img/pos_thumbnail.png" alt="<%= movie.title %>" />
                            <% } %>
                        </a>
                        <a href="/api/movie/<%= movie.id %>" id="<%= movie.id %>" class="movie-title">
                            <% if (movie.title) { %>
                                <%= movie.title %>
                            <% } else { %>
                                 <%= movie.name %>
                            <% } %>
                        </a>
                        </div>
                <% }) %>
            <% } else { %>
                <div class="movie-title"><h4>Nothing found...</h4></div>
            <% } %>
        </div>

        <!-- pagination -->
        <div class="pages">
            <% if (movie.page===1) { %>
                <button class="btn disabled" disabled id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } else { %>
                <button class="btn" id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } %>
            <a class="page-info"><%= movie.page %> / <%= movie.total_pages %></a>
            <% if (movie.page===movie.total_pages) { %>
                <button class="btn disabled" disabled id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } else { %>
                <button class="btn" id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } %>
        </div>
    </main>
    
    <!-- tv -->
    <main class="trending hidden" id="trending-tv">
        <div class="search-row-header">
            <div>
                <h1 style="margin-top: 0;">Trending TV Shows</h1>
            </div>
        </div>
        <div class="search-row" id="trending-tv">
            <% if (tv.results.length) { %>
                <% tv.results.forEach((tv,index)=> { %>
                        <div class="movie hidden">
                        <a href="/api/tv/<%= tv.id %>" id="<%= tv.id %>">
                            <% if (tv.poster_path) { %><img
                                    src="http://image.tmdb.org/t/p/w300<%= tv.poster_path %>"
                                    alt="<%= movie.title %>" />
                            <% } else { %><img src="/img/pos_thumbnail.png" alt="<%= tv.name %>" />
                            <% } %>
                        </a>
                        <a href="/api/tv/<%= tv.id %>" id="<%= tv.id %>" class="movie-title"><%= tv.name %></a>
                        </div>
                <% }) %>
            <% } else { %>
                <div class="movie-title"><h4>Nothing found...</h4></div>
            <% } %>
        </div>

        <!-- pagination -->
        <div class="pages">
            <% if (tv.page===1) { %>
                <button class="btn disabled" disabled id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } else { %>
                <button class="btn" id="prev"><i class="fa-solid fa-arrow-left"></i> Prev</button>
            <% } %>
            <a class="page-info"><%= tv.page %> / <%= tv.total_pages %></a>
            <% if (tv.page===tv.total_pages) { %>
                <button class="btn disabled" disabled id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } else { %>
                <button class="btn" id="next"><i class="fa-solid fa-arrow-right"></i> Next</button>
            <% } %>
        </div>
    </main>
    
    <!-- footer and login forms -->
    <%- include('./footer.ejs') %>

    <!-- exporting ejs model values for external js files -->

    <!-- pages -->
    <span id="page-num" hidden>
        <%= JSON.stringify(movie.page) %>
    </span>
    <span id="lastpage" hidden>
        <%= JSON.stringify(movie.total_pages) %>
    </span>

    <!-- external js files -->
    <!-- <script src="/js/pagination.js"></script> -->
    <script src="/js/side-navbar.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>