<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/movie.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a class="hamburger item hamburger-active"><i class="fa-solid fa-bars fa-lg"></i></a>
        <a class="title" href="/api/dashboard"><img src="/img/brand-logo.png" alt=""></a>
        <div class="navbar-item">
            <a class="item link" href="/">Home</a>
            <a class="item link">Genre</a>
            <a class="item link">Trending</a>
            <a class="item link">TV Shows</a>
            <a class="item link">Anime</a>
        </div>
        <div class="navbar-item">
            <form class="search" action="/api/search">
                <input class="search-item" type="text" name="query" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
    </nav>

    <!-- movie -->
    <main>
        <div class="movie">
            <div class="poster-div"><% if (tv.poster_path) { %>
                <img src="http://image.tmdb.org/t/p/w300<%= tv.poster_path %>" alt="<%= tv.name %>" class="poster"/>
                <% } else { %>
                    <img src="/img/pos_thumbnail.png" alt="<%= tv.name %>" class="poster" />
                <% } %>
            </div>
            <div class="col">
                <h2 class="movie-title"><%= tv.name %></h2>
                <% if (tv.tagline) { %>
                <p><em>"<%= tv.tagline %>"</em></p>
                <% } %>
                <span><strong>Genre: </strong>
                <% tv.genres.forEach((genre,index) => { %>
                    <% if (index!=tv.genres.length-1) { %>
                        <a id="<%=genre.id%>"><%= genre.name %>,</a>
                    <% } else { %>
                        <a id="<%=genre.id%>"><%= genre.name %></a>
                    <% } %>
                <% });%>
                
                 
                </span>
                <span><strong>Released On: </strong><%= tv.release_date%></span>
                <span><strong>Duration: </strong><%= tv.runtime %>mins</span>
                <span><strong>Languages: </strong><% tv.spoken_languages.forEach((language,index) => { %>
                    <% if (index!=tv.spoken_languages.length-1) { %>
                    <em><%= language.english_name %>,</em>
                    <% } else { %>
                        <em><%= language.english_name %></em>
                    <% } %>
                <% }) %>
                </span>
                <p><strong>Summary:  </strong><%= tv.overview %></p>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>
</body>

</html>