<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tv.name %></title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/movie.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs')  %>

    <!-- movie -->
    <main>
        <div class="movie mobile-movie">
            <% var season=[]; %>
                    <% for (var i=0, len=seasons.length; i<len; i++) { %>
                    <% season.push( seasons[i] )%>
            <% } %>
            <div class="object col-3" style="flex:1;">
                <iframe src="https://vidsrc.to/embed/tv/<%= tv.id %>/<%= season[0].season_number %>/1" allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
                    oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
                <!-- <div class="movie">
                    <h1>Season Info</h1>
                    <div class="poster-div">
                        <% if (season[0].poster_path) { %>
                            <img src="http://image.tmdb.org/t/p/w300<%= season[0].poster_path %>" alt="<%= season[0].name %>"
                                class="poster" />
                            <% } else { %>
                                <img src="/img/pos_thumbnail.png" alt="<%= season[0].name %>" class="poster" />
                        <% } %>
                    </div>
                    <div class="col">
                        <p><%= season[0].name %></p>
                        <p><%= season[0].overview %></p>
                        <p><%= season[0].episode_count %></p>
                        <p><%= season[0].air_date %></p>
                        <p><%= season[0].vote_average %></p>
                    </div>
                </div> -->
            </div>
            <div class="side-video">
                <div class="extras">
                    <select class="extras-head scrollbar select" id="season-select">
                        <% season.forEach(season => { %>
                            <option  value="<%= season.season_number %>">Season <%= season.season_number %> (<%= season.name %>)</option>
                        <% }) %>
                    </select>
                    <div class="youtube-ul video-list scrollbar">
                        <% for( let index = 0; index < season[0].episode_count; index++ ) { %>
                            <% if (index==0) { %>
                                <div class="youtube-li selected" data-site="vidsrc" data-url="https://vidsrc.to/embed/tv/<%= tv.id %>/<%= season[0].season_number %>/<%= index+1 %>">Episode <%= index+1 %></div>
                                <% } else { %>
                                    <div class="youtube-li" data-site="vidsrc" data-url="https://vidsrc.to/embed/tv/<%= tv.id %>/<%= season[0].season_number %>/<%= index+1 %>">Episode <%= index+1 %></div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <% var vds=[]; %>
                <% for (var i=0, len=videos.results.length; i<len; i++) { %>
                    <% vds.push( videos.results[i] )%>
                <% } %>
                <% if (vds) { %>
                    <div class="extras ">
                        <div class="extras-head">More Videos</div>
                        <div class="youtube-ul video-list scrollbar">
                        <% vds.forEach((video,index)=> { %>
                            <% if (video.site==='YouTube' ) { %>
                                <div class="youtube-li" style="display: flex;" data-site="youtube"
                                    data-url="https://www.youtube.com/embed/<%= video.key %>?enablejsapi=1">
                                    <div>
                                        <%= index+1 %>.
                                    </div>
                                    <div style="padding-left: 1.5%;">
                                        <%= video.name %> <i class="fa-brands fa-youtube"
                                                style="color: #d00b29;"></i>
                                    </div>
                                </div>
                                <% } %>
                                    <% if (video.site==='Vimeo' ) { %>
                                        <div class="youtube-li" data-site="vimeo"
                                            data-url="https://player.vimeo.com/video/<%= video.key %>">
                                            <%= video.name %> <i class="fa-brands fa-vimeo"
                                                    style="color: #195dd2;"></i>
                                        </div>
                                    <% } %>
                            <% }) %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="movie desktop">
            <div class="poster-div">
                <% if (tv.poster_path) { %>
                    <img src="http://image.tmdb.org/t/p/w300<%= tv.poster_path %>" alt="<%= tv.name %>"
                        class="poster" />
                    <% } else { %>
                        <img src="/img/pos_thumbnail.png" alt="<%= tv.name %>" class="poster" />
                        <% } %>
            </div>
            <div class="col">
                <h2 class="movie-title">
                    <%= tv.name %>
                </h2>
                <% if (tv.tagline) { %>
                    <p><em>"<%= tv.tagline %>"</em></p>
                    <% } %>
                        <span><strong>Genre: </strong>
                            <% tv.genres.forEach((genre,index)=> { %>
                                <% if (index!=tv.genres.length-1) { %>
                                    <a id="<%=genre.id%>">
                                        <%= genre.name %>,
                                    </a>
                                    <% } else { %>
                                        <a id="<%=genre.id%>">
                                            <%= genre.name %>
                                        </a>
                                        <% } %>
                                            <% });%>
                        </span>
                        <span><strong>First Aired on: </strong>
                            <%= tv.first_air_date%>
                        </span>
                        <span><strong>Seasons: </strong>
                            <%= tv.number_of_seasons %>
                        </span>
                        <span><strong>Languages: </strong>
                            <% tv.spoken_languages.forEach((language,index)=> { %>
                                <% if (index!=tv.spoken_languages.length-1) { %>
                                    <em>
                                        <%= language.english_name %>,
                                    </em>
                                    <% } else { %>
                                        <em>
                                            <%= language.english_name %>
                                        </em>
                                        <% } %>
                                            <% }) %>
                        </span>
                        <p><strong>Summary: </strong>
                            <%= tv.overview %>
                        </p>
            </div>
        </div>
        <div class="movie-mobile">
            <div class="row" style="padding-left: 5px;" style="height: 160px;">
                <div class="poster-div">
                <% if (tv.poster_path) { %>
                    <img src="http://image.tmdb.org/t/p/w300<%= tv.poster_path %>" alt="<%= tv.name %>"
                        class="poster" />
                    <% } else { %>
                        <img src="/img/pos_thumbnail.png" alt="<%= tv.name %>" class="poster" />
                        <% } %>
                </div>
                <div style="padding-left:10px; padding-right: 10px; font-size: 0.8rem; line-height: 1.5;">
                <h2 class="movie-title">
                    <%= tv.name %>
                </h2>
                <% if (tv.tagline) { %>
                    <p><em>"<%= tv.tagline %>"</em></p>
                    <% } %>
                        <span style="display: block;"><strong>Genre: </strong>
                            <% tv.genres.forEach((genre,index)=> { %>
                                <% if (index!=tv.genres.length-1) { %>
                                    <a id="<%=genre.id%>">
                                        <%= genre.name %>,
                                    </a>
                                    <% } else { %>
                                        <a id="<%=genre.id%>">
                                            <%= genre.name %>
                                        </a>
                                    <% } %>
                            <% });%>
                        </span>
                        <span style="display: block;"><strong>First Aired on: </strong>
                            <%= tv.first_air_date%>
                        </span>
                        <span style="display: block;"><strong>Seasons: </strong>
                            <%= tv.number_of_seasons %>
                        </span>
                        <span style="display: block;"><strong>Languages: </strong>
                            <% tv.spoken_languages.forEach((language,index)=> { %>
                                <% if (index!=tv.spoken_languages.length-1) { %>
                                    <em>
                                        <%= language.english_name %>,
                                    </em>
                                    <% } else { %>
                                        <em>
                                            <%= language.english_name %>
                                        </em>
                                        <% } %>
                                            <% }) %>
                        </span>
                </div>
            </div>
            <div class="col" style="padding: 10px;text-align: justify;">
                <p><strong>Summary: </strong>
                    <%= tv.overview %>
                </p>
            </div>
        </div>
    </main>

    <!-- footer and login forms -->
    <%- include('./footer.ejs') %>
    
    <!-- data for external js -->
    <span id="tv-id" hidden>
        <%= JSON.stringify(tv.id) %>
    </span>
    <span id="all-seasons" hidden>
        <%= JSON.stringify(season) %>
    </span>
    <script src="/js/navbar.js"></script>
    <script src="/js/video-swap.js"></script>
    <script src="/js/tv.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>